<% provide(:title, @profile.name) %>
<div class="row">
  <aside class="col-md-2">
    <section>
      <h1>
        <%= image_tag @profile.knocker.avatar.url(:thumb) %><br />
    <%= @profile.name %><br /><small>(
    :<%= @profile.knocker.identity %>)</small>
      </h1>
      <%= link_to 'Edit Profile', edit_knocker_profile_path(current_knocker.profile) %>
      <%= link_to 'Send Message', new_message_path(:knocker => @profile.knocker) %>
      <div id="modal-window" class="modal hide fade" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"></div>
    <section>
      <%= render 'shared/stats' %>
      <%= render 'knockers/favourite_form' if signed_in? %>
    </section>
  </aside>
  <div class="col-md-4">
    <%= render 'shared/post_form' if signed_in? %>
  	<% if @profile.knocker.posts.any? %>
  		<h3>Hypes (<%= @knocker.hypes.count %>)</h3>
  		<ol class="hypes">
  			<%= render @knocker.posts %>
  		</ol>
  		<%= will_paginate @posts %>
  	<% end %>
  </div>
  <div class="col-md-2">
    <%= render 'knockers/availability' %>
  </div>
</div>