<% provide(:title, @knocker.name) %>
<div class="row">
  <aside class="col-md-4">
    <section>
      <h1>
      	<%= image_tag @knocker.avatar.url(:medium) %>
	 	<%= @knocker.name %>
      </h1>
    </section>
  </aside>
  <div class="col-md-8">
  	<% if @knocker.hypes.any? %>
  		<h3>Hypes (<%= @knocker.hypes.count %>)</h3>
  		<ol class="hypes">
  			<%= render @hypes %>
  		</ol>
  		<%= will_paginate @hypes %>
  	<% end %>
  </div>
</div>